body {
    font-family: 'Open Sans', sans-serif;
}
#topbar {
    border: 2px solid #004ea2;
    margin: 20px 40px 10px 60px;
    height: 80px;
}
.sidebar{
  margin: auto auto auto 60px;   
}

.sidebar .btn{
  margin-top: 4px;
  display: block;
  text-align: left !important;
  width: 150%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #004ea2;
  color: white;
}
.collapse-item {
  width: 150%;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #555;
}
.material-icons{
  position: relative;
  top: 4px;
  display: inline-block;
  line-height: 1;
  font-size: 20px;
}

/* Main contents */
.contents{
  border: 1px solid #ddd;
  margin: 5px 40px 10px 60px;
}
.card {
  border: none;
}
@media (max-width: 700px) {
  #topbar{
    margin: 20px 0px 0px 0px;
  }
  .contents{
    margin-top: 5%;
    width: 122%;
    margin-left: -60px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -90%;
    width: 60%;
    background: #f1f2f4;
    z-index: 1000;
    transition: left 0.3s ease;
  }
  
  .sidebar .btn {
    margin-top: 4px;
    display: block;
    text-align: left !important;
    width: 85%;
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #004ea2;
    color: white;
  }
  
  .collapse-item {
    width: 85%;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555;
  }
  
  .sidebar.show {
    left: -50px;
    margin-top: 50px;
    position: fixed;
    height: 100%;
    width: 60%;
  }
  
}

/* --------------------------------------------------------------------------------
    Datatable Design part
--------------------------------------------------------------------------------
*/ 
.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select {
    border:1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_paginate{
    padding:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    margin-left: 0px;
    border-right:1px solid #ccc;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: #01a9ac !important;
    border-color: #01a9ac;
    color:#fff !important;
}


/* Toastr message */
.toast-success {
  background-color: #28a745 !important;
}

.toast-error {
    background-color: #bd362f !important;
}

.multiselect-container label.radio {
	padding-left: 20px !important;
}

/* Hide Down Arrow */
.multiselect.dropdown-toggle::after {
	display: none;
}

/* Loading skeleton */
/* .loading-skeleton {
  background-color: #6370e34a;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
} */

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 #loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  z-index: 100;
}
